:root {
    --accent: #2196f3;
    --accent-hover: #003a69;
    --accent-text: #63ffff;
    --accent-secondary: #9b761e;
    --thread-bg: #303030;
    --thread-bg2: #303030;
    --thread-bg-read: #1c1c1c;
    --thread-bg-sticky: #572121;
    --thread-bg-sticky2: #573521;
    --thread-separator: #202020;
    --text-color: #dadada;
    --text-dim-color: #7d7d7d;
    /* Backgrounds */
    --darker: #1b1b1b;
}


/*===== General =====*/

html,
#forum {
    background: var(--darker);
}

body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--accent);
}

strong {
    color: #ececec;
}

.button.is-primary {
    background-color: var(--accent);
}

.button.is-primary:hover,
.button.is-primary.is-hovered {
    background-color: var(--accent-hover);
}

.label {
    color: var(--text-color);
}

.tooltip.is-primary:after {
    background-color: var(--accent);
}

.tooltip.is-top.is-primary:before {
    border-top: 6px solid var(--accent);
}


/*===== Main Forum =====*/

.forumcategoryblock .forumcategoryheader .categorytitle {
    color: var(--text-dim-color) !important;
}

.navbar.is-primary .navbar-brand>a.navbar-item:hover,
.navbar.is-primary .navbar-brand>a.navbar-item.is-active,
.navbar.is-primary .navbar-brand .navbar-link:hover,
.navbar.is-primary .navbar-brand .navbar-link.is-active {
    background-color: var(--accent);
}

.navbar.is-primary .navbar-brand>a.navbar-item:hover,
.navbar.is-primary .navbar-brand .navbar-link:hover {
    background-color: var(--accent) !important;
}

.user-moderator a {
    color: #4caf50 !important;
}

#content {
    background-image: none;
}


/*alert button */

.navbar-alerts .alert-button {
    color: var(--accent);
}


/*alert window*/

.dropdown-content .dropdown-item,
.dropdown-content .dropdown .dropdown-menu .has-link a,
.dropdown .dropdown-menu .has-link .dropdown-content a,
.dropdown-content a.dropdown-item,
.dropdown-content .dropdown .dropdown-menu .has-link a,
.dropdown .dropdown-menu .has-link .dropdown-content a {
    background-color: var(--thread-bg2);
    color: var(--text-dim-color) !important;
}

.dropdown-content .dropdown-item:hover,
.dropdown-content .dropdown .dropdown-menu .has-link a:hover,
.dropdown .dropdown-menu .has-link .dropdown-content a:hover,
.dropdown-content a.dropdown-item:hover,
.dropdown-content .dropdown .dropdown-menu .has-link a:hover,
.dropdown .dropdown-menu .has-link .dropdown-content a:hover {
    color: var(--text-color) !important;
}


/*===== SubForum Main Page =====*/

body.page-forum .forumhead ul .content .title a {
    color: var(--text-color);
}

body.page-forum .forumhead ul .content .subtitle {
    color: var(--text-color);
}

.pagnation.threadpagnation,
.pagnation.postpagnation {
    background-color: var(--thread-bg);
}


/*Page Indicator*/

.pagnation.threadpagnation a.page.is-active,
.pagnation.postpagnation a.page.is-active,
.pagnation.threadpagnation a.page.is-active:hover,
.pagnation.postpagnation a.page.is-active:hover {
    background-color: var(--accent);
}

.pagnation.threadpagnation a.page:hover,
.pagnation.postpagnation a.page:hover {
    background-color: var(--accent-hover);
}

body.page-forum .forumhead ul .content .subtitle a {
    color: var(--text-dim-color);
}


/*===== Threads =====*/


/*Normal threads*/

body.page-forum .threadlistsection .threadblock {
    box-shadow: inset 0px 1px 0px var(--thread-separator);
}

body.page-forum .forumpanel {
    background-color: var(--thread-bg);
}

body.page-forum .threadlistsection .threadblock:nth-child(even) {
    background-color: var(--thread-bg2);
}


/*Viewed threads*/

body.page-forum ul.threadblock.forumpanel.has-seen {
    background-color: var(--thread-bg-read);
}

body.page-forum ul.threadblock.forumpanel.has-seen.has-new-posts {
    background-color: var(--thread-bg);
}

body.page-forum ul.threadblock:nth-child(even).forumpanel.has-seen.has-new-posts {
    background-color: var(--thread-bg2);
}


/*Stickied threads*/

body.page-forum .threadlistsection .threadblock.is-sticky {
    background-color: var(--thread-bg-sticky) !important;
}

body.page-forum .threadlistsection .threadblock.is-sticky:nth-child(even) {
    background-color: var(--thread-bg-sticky2) !important;
}

body.page-forum .threadlistsection .threadblock.is-sticky a {
    color: var(--text-color);
}

body.page-forum .threadlistsection .threadblock.is-sticky {
    color: var(--text-dim-color);
}


/*New Post indicator*/

body.page-forum .threadlistsection .threadblock .threadmain a.newposts {
    background-color: var(--accent);
    color: var(--accent-text);
}

body.page-forum .threadlistsection .threadblock .threadmain a.newposts:hover {
    background-color: var(--accent-hover);
}


/* Read thread with no new posts: gets a border to the left */

ul.threadblock.forumpanel.has-seen {
    box-shadow: inset 2px 0px 0px var(--accent-secondary);
}


/* Read thread with new posts: gets a border to the left */

ul.threadblock.forumpanel.has-seen.has-new-posts {
    box-shadow: inset 2px 0px 0px var(--accent);
}


/*Post head*/

body.page-forum .threadviewsection .postblock .posthead {
    color: var(--text-dim-color);
}

body.page-forum .threadviewsection .postblock .posthead a,
body.page-forum .threadviewsection .postblock .posthead strong {
    color: var(--text-dim-color);
}


/*new posts*/

body.page-forum .threadviewsection .postblock>li.postuser {
    background-color: rgba(25, 49, 68, 0.5);
    border-left: 2px var(--accent) solid;
}

body.page-forum .threadviewsection .postblock-read>li.postuser {
    background-color: rgba(158, 158, 158, 0.11);
    border-left: 2px var(--thread-bg) solid;
}

body.page-forum .threadviewsection .postblock-own>li.postuser {
    background-color: rgba(134, 130, 0, 0.11);
    border-left: 2px var(--accent) solid;
}

body.page-forum .threadviewsection .postblock-own.postblock-read>li.postuser {
    background-color: rgba(134, 130, 0, 0.11);
    border-left: 2px #868200 solid;
}

body.page-forum .threadviewsection .postblock-reply>li.postuser {
    background-color: rgba(158, 158, 158, 0.11);
    border: none;
}


/*in thread title*/

.title {
    color: var(--text-color);
}


/*===== Navbar =====*/

.navbar.is-primary {
    background-color: var(--thread-bg);
}

.navbar-brand>a.navbar-item:hover {
    background-color: var(--accent);
}


/*===== Footer =====*/

.footer {
    background-color: var(--thread-bg);
}